.divbox{
    flex-direction: row;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    padding-top: 50px;
      padding-right: 150px;
      padding-bottom: 50px;
      padding-left: 150px;
      justify-content: center;
      justify-content: space-between;
      display: flex;
}